html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    background-color: black;
    color: white
}

.light-mode {
    background-color: white;
    color: black;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

main {
    border-left: 0.7px solid rgb(166, 166, 166);
    border-right: 0.7px solid rgb(174, 173, 173);
    padding: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-button {
    width: 80px;
    margin-right: 10px;
    font-size: 16px;
    background-color: white;
    border: 3px solid rgb(0, 0, 152);
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(0, 0, 152);
}

#login-button:hover {
    background-color: aliceblue;
}
#signup-button {
    width: 80px;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(0, 0, 152);
    color: white;
    border: 3px solid rgb(0, 0, 152);
    border-radius: 3px;
}

#signup-button:hover {
    background-color: rgb(110, 151, 187);
}

#mal-logo {
    color: rgb(18, 18, 149)
}

#navbar {
    background-color: rgb(32, 32, 156);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-element {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(240, 236, 170);
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #1420c8; color: white}

.navbar-element:hover .dropdown-content {display: block;}
.navbar-element:hover {
    background-color: rgb(240, 236, 170);
    color: black;
}


#search-input {
    flex-grow: 1; /* Take up remaining space */
    text-align: right; /* Align input to the right */
}

#navbar-search-input {
    width: 30%;
    padding: 5px;
}

#welcome {
    background-color: rgb(200, 200, 248);
}

#welcoming-h3 {
    margin: 2px;
}

#main-content {
    display: flex;
    overflow: scroll;
}

#main-side {
    flex-basis: 70%;
}

#side-content {
    flex-basis: 30%;
    border-left: 1px solid rgb(168, 168, 168);
}

#top-airing-animes {
    display: flex;
}

#spring-2024-animes {
    display: flex;
    overflow-y: scroll;
}

.anime-container {
    margin: 10px
}

.anime-container img {
    width: 150px;
}

#last-updated {
    display: flex;
}
#popular-trailers {
    display: flex;
}

#top-airing-list {
    background-color: beige;
    align-items: center;
}
.single-ta {
    display: flex;
    overflow: scroll;
    font-size: 10px;
    margin: 10px;
}

.ta-image-part {
    margin-right: 10px
}
.ta-image-part img {
    width: 70px
}

#ta-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ta-top h5 {
    margin-right: 10px;
}

#ta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(175, 175, 175);
}

#news-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-news {
    display: flex;
    font-size: 12px;
    padding: 5px;
}

.news-img-part {
    margin-right: 10px;
}
.news-img-part img {
    width: 70px;
    border: 0.5px solid black;
}

#news {
    border-top: 1px solid rgb(180, 180, 180);
}

#footer {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(2, 2, 151);
    text-align: center;
}

#footer p{
    font-size: 10px;
    color:white;
}

#discussions {
    border-top: 1px solid rgb(188, 188, 188);
}

#discussions-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-discussion {
    padding: 20px;
    font-size: small;
    border: 0.5px solid rgb(202, 202, 202)
}


/* search.html ehleh baina  */

#alphabet {
    display: flex;
    justify-content: center;
}

.alphabet-element {
    color: rgb(115, 114, 114);
    padding: 5px;
    font-size: smaller;
}

.alphabet-element:hover {
    background-color: rgb(187, 219, 247);
}

#search-anime-input {
    font-size: large;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    width: 60%;
}

#search-anime-div {
    text-align: center;
    margin-top: 20px;
}

#search-icon {
    cursor: pointer;
}

#advanced-search-button-div {
    text-align: right;
}

#advanced-search-button {
    font-size: small;
}

#search-filter-div {
    display: none;
}

.filter-input-div {
    margin: 5px;
    font-size: small;
}

.filter-input-div label {
    margin-right: 10px;
}

.single-genre-div {
    width: 175px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    color:rgb(96, 129, 176)
}

.single-genre-div:hover {
    background-color: rgb(197, 215, 233);
}


.some-container {
    display: flex;
    flex-wrap: wrap;
}

#advanced-filter-button {
    font-size: larger;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(23, 23, 132);
}

a {
    text-decoration: none;
    color: black;
}

#profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-section div img {
    width: 30px;
}

#profile-name-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1px 10px;
    position: relative;
    display: inline-block;
}

#profile-name-sec i {
    font-size: 30px;
}

#profile-name-sec:hover {
    background-color: aliceblue;
}

#profile-name {
    padding: 1px 5px;
}

#profile-picture-sec {
    border-radius: 5px;
    padding: 1px 10px;
}

#profile-picture-sec:hover {
    background-color: aliceblue;
}

#profile-dropdown {
    display: none;
    position:absolute;
    background-color: aliceblue;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
}


.profile-dropdown-element {
    padding: 5px;
}

.profile-dropdown-element:hover {
    background-color: rgb(134, 183, 226);
}
